<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1> Playing Around </h1>

        <ul>
            <% for(let i=0;i<7;++i) { %>
                <li>
                    <%= i %>
                </li>
            <%}%>
        </ul>
    </body>

    <% if(true){ %>
        <h1> If true works </h1>
    
    <% } else { %>
        <p> Isn't true </p>
    <% } %>

</html>